{% extends 'base.html.twig' %}

{% block title %}{{ constants.defaultTitle }}{% endblock %}

{% block body %}
    <h1>{{ constants.homeSentence }}</h1>
    <section {{ svelte_component('Quiz', {
        'itemsSpecs': itemsSpecs,
        'socials': socials,
        'paths':  {
            'validateQuiz': path('app_quiz_validate_call'),
            'specsItems': path('app_items_specs_call'),
        }
    }) }}></section>

{% endblock %}
