{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    {% set path=path('app_admin_items_add_call') %}
    {% if item is defined %}
        {% set path=path('app_admin_items_add_call', {'id':item.id}) %}
    {% endif %}
    <section {{ svelte_component('Items/Add', { 'fields': [
        form_row(itemForm.name)|raw,
        form_row(itemForm.image)|raw,
        form_row(itemForm.placement)|raw,
    ] , "path": path, "pathList": path('app_admin'), "title": title, "itemsSpecs": itemsSpecs}) }}></section>

{% endblock %}
